/*BIG SCREEN*/

.sidebar-small-screen,
.small-screen-menu-icon {
  display: none;
}

.sidebar-big-screen {
  width: var(--sidebar-width);
  color: var(--secondary-text-color);
  background-color: var(--input-shadow-light);
  min-width: 70px;
  max-width: 400px;
  container-type: inline-size; /* width */
  container-type: size; /* height  */
  container-name: sidebar;
}

.resizer {
  width: 3px;
  cursor: col-resize;
  resize: horizontal;
}

.resizer:hover {
  width: 3px;
  background: var(--input-background);
}

.resizing {
  user-select: none; /*disables text selection and interaction within element */
}

/*SMALL SCREEN*/

@media (max-width: 600px) {
  .sidebar-big-screen,
  .resizer {
    display: none;
  }

  .sidebar-small-screen {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--secondary-text-color);
    background-color: var(--input-shadow-light);
    width: var(--menu-width);
    z-index: 1000;
    overflow: hidden;
  }

  .small-screen-menu-icon {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    min-width: 70px;
    min-height: 70px;
    width: var(--menu-width);
    flex: 1;
    align-items: center;
    white-space: nowrap;
    padding: 0 20px;
    margin: 0;
    transition: background-color 0.3s ease;
    color: var(--secondary-text-color);
  }

  .small-screen-menu-icon:hover {
    background-color: var(--info--opac-color);
    color: var(--primary-text-color);
  }

  .close-icon {
    justify-content: flex-end;
  }
}
