/* small screen auth */

form {
  font-family: var(--font-raleway);
  overflow: hidden;
  padding: 40px 25px;
  color: var(--primary-text-color);
  text-shadow: 0 0 2px rgba(0, 0, 0, 1);
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

form {
  animation: fadeIn 0.5s ease-in-out forwards;
}

form fieldset {
  opacity: 1;
  margin: 0;
  padding: 0;
  border: 0;
}

form button.btn-login,
form button.btn-signup {
  display: block;
  width: 100%;
  margin: 30px auto 10px;
  font-size: 16px;
  line-height: 40px;
  border-radius: 0;
  border: none;
  transition: all 0.3s ease-out;
}

.input-block {
  margin-bottom: 20px;
}

.input-block input {
  color: var(--accent-text-color);
  font-family: var(--font-roboto);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.01rem;
  font-size: small;
  font-weight: normal;
  margin: 0;
  display: block;
  width: 100%;
  margin-top: 0;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 40px;
  background: transparent !important;
  border-bottom: 1px solid var(--modal-login-title-text);
  border-radius: 0;
}

.input-block label {
  font-size: 14px;
  height: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-block input:focus {
  outline: none;
}

form.signup .input-block input {
  color: var(--background-color-dark);
  text-shadow: none;
  font-weight: bold;
}

form button.btn-login,
form button.btn-signup {
  font-family: var(--font-raleway);
  color: var(--modal-login-title-text);
  background: transparent;
  box-shadow: inset 0 0 0 1px var(--modal-login-title-text);
  cursor: pointer;
}

form button:disabled {
  color: var(--modal-login-title-text-opac);
  box-shadow: inset 0 0 0 1px var(--modal-login-title-text-opac);
}

.btn-login:not(:disabled):hover {
  background-color: var(--modal-login-background-opac);
  color: var(--primary-text-color);
  box-shadow: inset 0 0 0 1px var(--modal-signup-background-opac);
}

.btn-signup:not(:disabled):hover {
  background-color: var(--info--opac-color);
  color: var(--primary-text-color);
  box-shadow: inset 0 0 0 1px var(--modal-login-background);
}

.switch-text {
  display: flex;
  justify-content: center;
  font-size: smaller;
  margin-top: 15px;
  transition: color 0.3s ease;
}

.switch-text-button {
  margin-left: 5px;
}

.switch-text:hover {
  color: var(--modal-login-title-text);
}

.valid {
  color: var(--approve-color-bright);
}

.icon-container {
  position: relative;
  display: block;
  overflow: visible;
}

.hide {
  display: none;
}

.info-text {
  position: absolute;
  font-family: var(--font-roboto);
  color: var(--input-shadow-dark);
  top: 100%;
  right: 0;
  background-color: var(--info-color);
  padding: 10px 8px;
  font-size: 12px;
  text-shadow: none;
  line-height: 1.2rem;
  font-weight: 500;
  width: 180px;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.hover-icon {
  cursor: pointer;
  z-index: 1006;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.password-toggle {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--modal-login-title-text);
}

.pwd-toggle-icon:hover {
  cursor: pointer;
}

/* big screen auth */

@media (min-width: 501px) {
  @keyframes pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: none;
    transition: transform 0.3s;
  }

  .overlay:hover {
    background-color: rgba(255, 255, 255, 0.04);
    animation: pulsate 1s;
  }

  form.is-active {
    cursor: default;
  }

  .switch-text {
    display: none;
  }

  form fieldset {
    position: relative;
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  form.login fieldset {
    transform: translateX(-50%);
  }

  form.signup fieldset {
    transform: translateX(50%);
  }

  form.is-active fieldset {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.4s ease-in, transform 0.35s ease-in;
  }

  form button.btn-login,
  form button.btn-signup {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  form.is-active button {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.4s ease-in;
  }

  .btn-login {
    transform: translateX(-30%);
  }

  .btn-signup {
    transform: translateX(30%);
  }
}
