@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;

  --approve-color: rgb(27, 156, 76);
  --approve--opac-color: rgba(27, 156, 76, 0.7);
  --error-color: rgb(119, 33, 57);
  --error--opac-color: rgba(119, 33, 57, 0.5);
  --info-color: #f9d3b4;

  --primary-text-color: #f9d3b4;
  --background-color-dark: #212426;
  --background-color-light: #f9d3b4;
  --title-background-start: rgba(249, 211, 180, 1);
  --title-background-end: rgba(249, 211, 180, 0);

  --input-background: #1f2123;
  --input-shadow-dark: #1c1d1f;
  --input-shadow-light: #222527;
  --input-hover-scale: 1.02;
  --button-hover-scale: 1.05;
}

body {
  font-family: var(--font-roboto);
  background-color: var(--background-color-dark);
}

.app-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.app-title {
  font-size: 3rem;
  letter-spacing: 0.9rem;
  background: linear-gradient(
    90deg,
    var(--title-background-start) 10%,
    var(--title-background-end) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.page-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page-content-container {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.selection-form {
  width: 50%;
  max-width: 400px;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.selection-title {
  font-size: 1.25rem;
  color: var(--primary-text-color);
  font-family: var(--font-raleway);
  margin-bottom: 0.5rem;
  text-align: center;
  margin: 0 auto;
}

.selection-question {
  font-size: 1rem;
  line-height: 1.7;
  color: var(--primary-text-color);
  font-family: var(--font-raleway);
  margin-bottom: 0.5rem;
  text-align: center;
  margin: 0 auto;
}

.selection-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.selection-label {
  font-size: 1rem;
  color: var(--primary-text-color);
  font-family: var(--font-raleway);
  margin-bottom: 0.5rem;
}

.selection-description {
  font-size: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-height: 800px) {
  .selection-body {
    gap: 0.25rem;
  }
  .selection-form {
    gap: 1rem;
  }
  .selection-label {
    font-size: 0.8rem;
  }
  .selection-description {
    font-size: 0.6rem;
  }
}

.loading {
  font-size: 1.25rem;
  color: var(--primary-text-color);
  font-family: var(--font-raleway);
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: transparent;
}

.selection-body select,
.selection-body input,
.selection-body li,
.selection-body button {
  width: 100%;
  text-align: center;
  border: none;
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 500;

  outline: none;
  color: #a1a1a1;
  background: #1f2123;

  -webkit-box-shadow: 5px 5px 7px var(--input-shadow-dark),
    -5px -5px 7px var(--input-shadow-light);
  box-shadow: 5px 5px 7px var(--input-shadow-dark),
    -5px -5px 7px var(--input-shadow-light);
  transition: transform 0.2s ease-in-out;
}

.selection-label span {
  margin-right: 10px;
  margin-bottom: 5px;
}
.selection-label span:last-child {
  margin-right: 0;
}

.selection-form ul {
  list-style-type: none;
  padding: 0;
}

.selection-form li,
.selection-form button {
  margin-bottom: 0.8rem;
  font-size: smaller;
}

.selection-body select:hover,
.selection-body input:hover,
.selection-body li:hover,
.selection-body button:hover {
  transform: scale(var(--input-hover-scale));
}

select option:checked {
  background-color: var(--background-color-light);
  color: #333;
  font-weight: bold;
}

select option:hover {
  background-color: var(--background-color-light);
  color: #fff; /* Change the text color on hover */
}

.search-button img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.search-button img:hover {
  transform: scale(var(--button-hover-scale));
}

li:hover {
  color: var(--primary-text-color);
  cursor: pointer;
}
li.correct {
  background-color: var(--approve--opac-color);
  color: var(--primary-text-color);
}
li.selected:not(correct) {
  background-color: var(--error--opac-color);
  color: var(--primary-text-color);
}

@media screen and (max-width: 600px) {
  .search-button img {
    width: 20px;
    height: 20px;
  }
  .selection-form {
    width: 75%;
  }
}

@media screen and (max-width: 400px) {
  .app-title {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
  .selection-form {
    width: 95%;
  }
}

@media screen and (max-width: 250px) {
  .app-title {
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
  }
  .selection-form {
    width: 98%;
  }
  :root {
    font-size: small;
  }
}
