@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;

  --approve-color: rgb(27, 156, 76);
  --approve-color-bright: rgb(162, 255, 219);
  --approve--opac-color: rgba(27, 156, 76, 0.7);
  --error-color: rgb(119, 33, 57);
  --error--opac-color: rgba(119, 33, 57, 0.5);
  --info-color: rgb(249, 211, 180);
  --info--opac-color: rgba(249, 211, 180, 0.05);

  --primary-text-color: rgb(249, 211, 180);
  --primary-text-color-opac: rgb(249, 211, 180, 0.6);
  --secondary-text-color: rgb(161, 161, 161);
  --accent-text-color: rgb(244, 233, 233);
  --background-color-dark: rgb(33, 36, 38);
  --background-color-light: rgb(78, 93, 115);
  --background-color-dark-opac: rgba(33, 36, 38, 0.9);
  --title-background-start: rgba(249, 211, 180, 1);
  --title-background-end: rgba(249, 211, 180, 0);

  --input-background: rgb(55, 59, 63);
  --input-shadow-dark: rgb(28, 29, 31);
  --input-shadow-light: rgb(38, 41, 43);
  --input-hover-scale: 1.02;
  --button-hover-scale: 1.05;

  --modal-signup-background: rgb(83, 71, 62);
  --modal-signup-background-opac: rgba(249, 211, 180, 0.25);
  --modal-login-background: rgb(53, 64, 77);
  --modal-login-background-opac: rgb(53, 65, 82, 0.5);
  --modal-login-title-text: rgb(183, 213, 253);
  --modal-login-title-text-opac: rgb(183, 213, 253, 0.5);
  --modal-signup-title-text: rgb(137, 119, 104);
}

body {
  font-family: var(--font-roboto);
  background-color: var(--background-color-dark);
}

.app-container {
  display: grid;
  grid-template-columns: auto 1fr; /* sidebar and main  */
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "sidebar main"
    "sidebar footer";
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .app-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr; /* main  */
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "main"
      "footer";
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  .app-sidebar {
    position: absolute;
    left: 0;
    display: flex;
  }
}

.app-main {
  grid-area: main;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  container-type: inline-size; /* width */
  container-type: size; /* height  */
  container-name: main;
}

.app-sidebar {
  grid-area: sidebar;
  display: flex;
}

header {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.app-title {
  font-size: 3rem;
  letter-spacing: 0.9rem;
  background: linear-gradient(
    90deg,
    var(--title-background-start) 10%,
    var(--title-background-end) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.page-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page-content-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.selection-form {
  width: 50%;
  max-width: 400px;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.selection-title {
  font-size: 1.25rem;
  color: var(--primary-text-color);
  font-family: var(--font-raleway);
  margin-bottom: 0.5rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.selection-question {
  font-size: 1rem;
  line-height: 1.7;
  color: var(--primary-text-color);
  font-family: var(--font-raleway);
  margin-bottom: 0.5rem;
  text-align: center;
  margin: 0 auto;
}

.selection-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.selection-label {
  font-size: 1rem;
  color: var(--primary-text-color);
  font-family: var(--font-raleway);
  margin-bottom: 0.5rem;
}

.selection-description {
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.loading {
  height: 50px;
  color: var(--primary-text-color);
  font-family: var(--font-raleway);
}
.spinner {
  color: var(--secondary-text-color);
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: transparent;
}

.selection-body select,
.selection-body input,
.selection-body li,
.selection-body button,
.app-footer {
  width: 100%;
  text-align: center;
  border: none;
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 500;

  outline: none;
  color: var(--secondary-text-color);
  background: var(--background-color-dark);

  -webkit-box-shadow: 5px 5px 7px var(--input-shadow-dark),
    -5px -5px 7px var(--input-shadow-light);
  box-shadow: 5px 5px 7px var(--input-shadow-dark),
    -5px -5px 7px var(--input-shadow-light);
  transition: transform 0.2s ease-in-out;
}

.app-footer {
  grid-area: footer;
  padding: 20px;
  background: var(--background-color-dark-opac);
  width: 100%;
  margin-top: auto;
  margin-bottom: 0.4rem;
  z-index: 1;
}

.selection-label span {
  margin-right: 10px;
  margin-bottom: 5px;
}
.selection-label span:last-child {
  margin-right: 0;
}

.selection-form ul {
  list-style-type: none;
  padding: 0;
}

.selection-form li,
.selection-form button {
  margin-bottom: 0.8rem;
  font-size: smaller;
}

.selection-body select:hover,
.selection-body input:hover,
.selection-body li:hover,
.selection-body button:hover {
  transform: scale(var(--input-hover-scale));
}

select option:checked {
  background-color: var(--background-color-light);
  color: #333;
  font-weight: bold;
}

select option:hover {
  background-color: var(--background-color-light);
  color: #fff; /* Change the text color on hover */
}

.search-button img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.search-button img:hover {
  transform: scale(var(--button-hover-scale));
}

li:hover {
  color: var(--primary-text-color);
  cursor: pointer;
}
li.correct {
  background-color: var(--approve--opac-color);
  color: var(--primary-text-color);
}
li.selected:not(correct) {
  background-color: var(--error--opac-color);
  color: var(--primary-text-color);
}

@container main (max-height: 800px) {
  .selection-body {
    gap: 0.25rem;
  }
  .selection-form {
    gap: 1rem;
  }
  .selection-label {
    font-size: 0.8rem;
  }
  .selection-description {
    font-size: 0.6rem;
  }
}

@container main (max-width: 800px) {
  .app-title {
    font-size: 2.5rem;
    letter-spacing: 0.7rem;
  }
  .search-button img {
    width: 20px;
    height: 20px;
  }
  .selection-form {
    width: 75%;
  }
}

@container main (max-width: 500px) {
  .app-title {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
  .selection-form {
    width: 82%;
  }
}

@container main (max-width: 250px) {
  .app-title {
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
  }
  .selection-form {
    width: 98%;
  }
  :root {
    font-size: small;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--input-shadow-dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--input-background);
  border-radius: 0;
}

::-webkit-scrollbar-horizontal {
  height: 6px;
}

::-webkit-scrollbar-track-horizontal {
  background-color: var(--input-shadow-dark);
}

::-webkit-scrollbar-thumb-horizontal {
  background-color: var(--input-background);
  border-radius: 0;
}

@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-horizontal {
    height: 3px;
  }
}
