.sidebar {
  width: var(--sidebar-width);
  color: var(--secondary-text-color);
  background-color: var(--input-shadow-light);
  min-width: 70px;
  max-width: 400px;
  container-type: inline-size; /* width */
  container-type: size; /* height  */
  container-name: sidebar;
}

.resizer {
  width: 3px;
  cursor: col-resize;
  resize: horizontal;
}

.resizer:hover {
  width: 3px;
  background: var(--input-background);
}

.resizing {
  user-select: none; /*disables text selection and interaction within element */
}
